<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Shared To Users</h4>

    </div>
    <div class="modal-body">
      <%count = 1%>
      <% @shared_users.each do |user| %>
        <p><%=count%>.<%=user['name']%></p>
        <%count +=1%>
      <%end%>
    </div>
</div>