<div class="container">
	<div style="float: left;">
		<h3>Other Shared Location</h3>
	</div>
	<div style="float: right;">
		<a class="btn btn-info" onclick="addLocation()" >Share location</a>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>URL</th>
				<th>Date Time</th>
				<th>User</th>
			</tr>
		</thead>
		<tbody>
			<%if @olu_arr.present?%>
				<% @olu_arr.each do |other_share_location| %>					
					<tr>
						<td><%= other_share_location['id'] %></td>
						<td><%= link_to other_share_location['location_url'], other_share_location['location_url'] , target: "_blank"%></td>
						<td><%= other_share_location['created_at'].strftime('%d-%m-%Y %T') %></td>
						<td><%= other_share_location["user_name"] %></td>
					</tr>
				<% end %>
			<%else%>
				<tr>
					<td>NO Records</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>